{% extends '::teamConsulter.html.twig' %}
{% block liste %}




    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="team-person">
                    <img src="{{ asset('FrontOffice/images/team-person-1.png ')}}" alt="">
                    <div class="about-person">
                        <p class="grand-hotel">Babysitter</p>
                        <h3>Amanda Durham</h3>
                        <div class="person-divider"></div>
                        <p>
                            Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus proin eget tortor risus.
                            Donec rutrum congue.
                        </p>
                    </div>
                    <div class="person-social">
                        <p>
                            Lorem ipsum dolor
                            sit amet, consetetur sadipscing elitr, sed diam nonumy
                        </p>
                        <div class="social-icons">
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-skype"></a>
                        </div>
                    </div>
                </div>


                <div class="team-person">
                    <img src="{{ asset('FrontOffice/images/team-person-2.png')}}" alt="Amanda Durham">
                    <div class="about-person">
                        <p class="grand-hotel">Nanny</p>
                        <h3>Connie Gilliam</h3>
                        <div class="person-divider"></div>
                        <p>
                            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </p>
                    </div>
                    <div class="person-social">
                        <p>
                            Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                        </p>
                        <div class="social-icons">
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-skype"></a>
                        </div>
                    </div>
                </div>


                <div class="team-person">
                    <img src="{{ asset('FrontOffice/images/team-person-3.png')}}" alt="Amanda Durham">
                    <div class="about-person">
                        <p class="grand-hotel">Babysitter</p>
                        <h3>Ruthie Wolf</h3>
                        <div class="person-divider"></div>
                        <p>
                            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
                        </p>
                    </div>
                    <div class="person-social">
                        <p>
                            Nulla quis lorem ut libero malesuada feugiat. Vivamus suscipit tortor eget
                        </p>
                        <div class="social-icons">
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-skype"></a>
                        </div>
                    </div>
                </div>
                <div class="team-person">
                    <img src="{{ asset('FrontOffice/images/team-person-4.png')}}" alt="Amanda Durham">
                    <div class="about-person">
                        <p class="grand-hotel">Nanny</p>
                        <h3>Cheryl Gills</h3>
                        <div class="person-divider"></div>
                        <p>
                            Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        </p>
                    </div>
                    <div class="person-social">
                        <p>
                            Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut
                        </p>
                        <div class="social-icons">
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-facebook"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-twitter"></a>
                            <a href="#" class="social-icon color-bg-icon rounded-icon soc-skype"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>








{% endblock liste %}