{% extends '::base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

    {% block title %}affiche Garderie{% endblock title %}
{% block topline %}{% endblock topline %}

{% block main %}

    <section class="pricing">
        <div class="container">
            <p class="grand-hotel text-center">Hello, Parents!</p>
            <h3 class="poppins text-center">Welcome to <span class="pink">Our Website</span></h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="price-1 text-center">
                        <div class="head">One<br><strong>Child</strong></div>
                        <div class="price"><span class="poppins">$10</span>/hour</div>
                        <div class="about-price">
                            <p>
                                Justo duo dolores et ea rebum stet clita kasd gubergren, no sea takimata.
                            </p>
                        </div>
                        <a href="#" class="purchase">Purchase</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-2 text-center">
                        <div class="head">Two<br><strong>Children</strong></div>
                        <div class="price"><span class="poppins">$15</span>/hour</div>
                        <div class="about-price">
                            <p>
                                Lorem ipsum dolor sit amet consetetur sadipscing nonumy eirmod tempor.
                            </p>
                        </div>
                        <a href="#" class="purchase">Purchase</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-3 text-center">
                        <div class="head">Three<br><strong>Children</strong></div>
                        <div class="price"><span class="poppins">$20</span>/hour</div>
                        <div class="about-price">
                            <p>
                                Labore dolore magna aliquyam erat, sed diam voluptua tvero eos et accusam.
                            </p>
                        </div>
                        <a href="#" class="purchase">Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <i class="rt-icon2-quotes-left"></i>
                    <div id="carousel-media" class="carousel slide testimonials-carousel" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-media" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-media" data-slide-to="1"></li>
                            <li data-target="#carousel-media" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam.
                                </p>
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a href="#">Shirry K. Lykins</a></h4>
                                        <p>
                                            Parent
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <p>
                                    Ullamco laboris nialiquid exea commodi consat.
                                    Ut enim minim veniam norud exotation.
                                </p>
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a href="#">Shirry K. Lykins</a></h4>
                                        <p>
                                            Parent
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                                    sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam.
                                </p>
                                <div class="media">
                                    <div class="media-body">
                                        <h4><a href="#">Shirry K. Lykins</a></h4>
                                        <p>
                                            Parent
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="grand-hotel">Hello, Parents!</p>
                    <h3 class="poppins">
                        Welcome to <span class="pink">Our Website</span>
                    </h3>
                    <p class="about-site">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam erat,
                        sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum stet clita kasd gubergren.
                    </p>
                    <a href="#" class="btn-type1">Search Nanny</a>
                </div>
            </div>
        </div>
    </section>
    <section class="skills-cont">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="skill skill-1">
                        <div class="skill-head">25 Years<br>
                            <strong>Child Care</strong>
                        </div>
                        <div class="skill-info">
                            <ul>
                                <li>Toddlers (1 - 3 years)</li>
                                <li>Preschoolers (3 - 5 years)</li>
                                <li>Grade school (6 - 11 years)</li>
                            </ul>
                        </div>
                        <a href="#" class="skill-detail">More details</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skill skill-2">
                        <div class="skill-head">Spoken<br>
                            <strong>Languages</strong>
                        </div>
                        <div class="skill-info">
                            <ul>
                                <li>English language</li>
                                <li>Spanish language</li>
                                <li>French language</li>
                            </ul>
                        </div>
                        <a href="#" class="skill-detail">More details</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="skill skill-3">
                        <div class="skill-head">Homework<br>
                            <strong>Help</strong>
                        </div>
                        <div class="skill-info">
                            <ul>
                                <li>Finishing homework</li>
                                <li>Checking answers</li>
                                <li>Proofreading</li>
                            </ul>
                        </div>
                        <a href="#" class="skill-detail">More details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock main  %}
{%  block footer %}{% endblock footer %}